@font-face {
    font-family: 'SF Mono';
    src: url(../../fonts/SFMono-Regular.otf) format('otf');
}

@font-face {
    font-family: 'Fire Code';
    src: url(../../fonts/FiraCode-Regular.ttf) format('ttf');
}

.about {
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;
}

.aboutTitle {
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 10px 0 40px;
    line-height: 1.1;
    color: #ccd6f6;
    font-size: clamp(26px, 5vw, 32px);
    white-space: nowrap;
}

.aboutTitle::before {
    position: relative;
    content: "0.";
    bottom: 0;
    font-weight: 400;
    font-size: clamp(16px, 3vw, 20px);
    color: #64ffda;
    text-align: center;
    font-family: 'SF Mono', monospace;
    line-height: 1.1;
}

.aboutTitle::after {
    content: "";
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: #ccd6f6;
}

.aboutGrid {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 50px;
}

.aboutSubtitleContainer {
    position: relative;
}

.aboutPhotoWrapper {
    position: relative;
    max-width: 300px;
    height: 300px;
    border-radius: 4px;
}

.aboutPhotoWrapper::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid #64ffda;
    border-radius: 4px;
    top: 20px;
    left: 20px;
    z-index: -1;
    transition: all .5s ease;
}

.aboutPhotoWrapper:hover::after {
    top: 10px;
    left: 10px;
}

.wrapper {
    box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    display: block;
    position: relative;
    width: 100%;
    border-radius: 4px;
    background-color: #64ffda;
}

.imageWrapper {
    max-width: 500px;
    display: block;
    border-radius: 4px;
}

.imageWrapper img {
    max-width: 100%;
    width: 100%;
    height: 300px;
    display: block;
    position: static;
    object-fit: cover;
    border-radius: 4px;
}

.aboutSpan {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #64ffda;
    opacity: 0.5;
    transition: all .3s ease;
    border-radius: 4px;
}

.aboutSpan:hover {
    background-color: transparent;
    opacity: 0;
}

.aboutSubtitle {
    position: relative;
    margin: 0 0 15px 0;
    text-align: start;
    font-size: 20px;
    text-align: justify;
}

.aboutSubtitle span {
    color: #64ffda;
    cursor: pointer;
}

.hideImage,
.showImage {
    width: 150px;
    border-radius: 4px;
    position: absolute;
    transform: translate(50%, -50%);
    top: 65%;
    right: 45%;
}

.hideImage {
    opacity: 0;
    transition: opacity 0.5s;

}

.showImage {
    opacity: 1;
    transition: opacity 0.5s;
}

.aboutListWrapper {
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
}

.aboutList {
    padding: 0;
    margin: 0;
    padding: 0px;
    margin: 20px 0px 0px;
    overflow: hidden;
    list-style: none;
}

.aboutItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.aboutItem::before {
    content: "▹";
    padding-right: 5px;
    color: #64ffda;
    font-size: 14px;
    line-height: 12px;
}