.aboutPhotoWrapper {
  position: relative;
  width: 100%;
  max-width: 500px;
  height: 0;
  padding-top: 100%;
  border-radius: 4px;
}

.aboutPhotoWrapper:hover::after {
  top: 10px;
  left: 10px;
}

.aboutPhotoWrapper::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #64ffda;
  border-radius: 4px;
  top: 20px;
  left: 20px;
  z-index: -1;
  transition: all .5s ease;
}

.imageWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 4px;
}

.imageWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 4px;
}

.aboutSpan {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #64ffda;
  opacity: 0.5;
  transition: all 0.3s ease;
  border-radius: 4px;
}

.aboutSpan:hover {
  background-color: transparent;
  opacity: 0;
}

@media (max-width: 480px) {
  .aboutSpan {
    opacity: 0;
  }
}