.content {
    width: 100%;
    max-width: 1600px;
    min-height: 100vh;
    padding: 0px 150px;
    margin: 0px auto;
}

section {
    margin: 120px auto 20px;
    /* padding: 100px 0px; */
    max-width: 1000px;
}

@media (max-width: 480px) {
    .content {
        padding: 0px 25px;
    }
}