@font-face {
    font-family: 'SF Mono';
    src: url(../../fonts/SFMono-Regular.otf) format('otf');
}

@font-face {
    font-family: 'Fire Code';
    src: url(../../fonts/FiraCode-Regular.ttf) format('ttf');
}

.contact {
    max-width: 600px;
    margin: 0px auto 100px;
    text-align: center;
}

.contactHeader {
    display: block;
    margin-bottom: 20px;
    color: #64ffda;
    font-family: 'SF Mono', monospace;
    font-size: 16px;
    font-weight: 400;
    font-size: clamp(26px, 5vw, 32px);
    white-space: nowrap;
}

.contactHeader::before {
    position: relative;
    content: "2.";
    bottom: 0;
    font-weight: 400;
    font-size: clamp(16px, 3vw, 20px);
    color: #64ffda;
    text-align: center;
    font-family: 'SF Mono', monospace;
    line-height: 1.1;
}

.contactTitle {
    font-size: clamp(40px, 5vw, 60px);
    font-family: sans-serif;
    font-weight: 600;
    margin: 0px 0px 10px;
}

.contactSubtitle {
    font-family: sans-serif;
    font-size: 20px;
    color: #8892b0;
    text-align: justify;
    margin-bottom: 50px;
}

.contactMail {
    color: #64ffda;
    background-color: transparent;
    border: 1px solid #64ffda;
    border-radius: 4px;
    padding: 1.25rem 1.75rem;
    font-size: 14px;
    font-family: 'SF Mono', monospace;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    transition: all .5s ease;
}

.contactMail:hover {
    background-color: rgba(100, 255, 218, 0.1);
}

@media (max-width: 380px) {
    .contactSubtitle {
        text-align: justify;
    }
}