@font-face {
    font-family: 'SF Mono';
    src: url(../fonts/SFMono-Regular.otf) format('otf');
}

@font-face {
    font-family: 'Fire Code';
    src: url(../fonts/FiraCode-Regular.ttf) format('ttf');
}

.header {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    position: fixed;
    top: 0px;
    z-index: 11;
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);;
}

.headerWrapper {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #64ffda; 
    display: flex;   
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .5s ease-in;
}

.headerWrapper:hover {
    background-color:rgba(100, 255, 218, 0.1);
}

.headerLogo {
    width: 35px;
}

.headerNav {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.headerList {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

.headerItem {
    display: list-item;
    margin: 0px 5px;
    padding: 10px;
    position: relative;
    list-style-position: inside;
    font-size: 15px;
    cursor: pointer;
    color: #64ffda;
    font-family: 'SF Mono', monospace;
}

.headerLink {
    color: #ccd6f6;
    text-decoration: none;
    transition: all .5
    s ease-in;
    font-family: 'SF Mono', monospace;
}

.headerLink:hover {
    color: #64ffda;
}

.headerResume {
    color: #64ffda;
    background-color: transparent;
    border: 1px solid #64ffda;
    border-radius: 4px;
    padding: 0.75rem 1rem;
    font-family: var(--font-mono);
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    margin-left: 15px;
    font-size: 13px;
    transition: all .5s ease-in;
}

.headerResume:hover {
    background-color: rgba(100, 255, 218, 0.1);
}

.headerResume a {
    color: #64ffda;
    text-decoration: none;
    transition: all .8s ease-in;
    font-family: 'SF Mono', monospace;
}