.footer {
    padding: 15px;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    max-width: 270px;
    margin: 0px auto 10px;
}



.footerTitle {
    font-size: 12px;
    margin: 5px auto;

}

.footerText {
    font-size: 12px;
    margin: 5px auto;
}