@font-face {
    font-family: 'SF Mono';
    src: url(../../fonts/SFMono-Regular.otf) format('otf');
}

@font-face {
    font-family: 'Fire Code';
    src: url(../../fonts/FiraCode-Regular.ttf) format('ttf');
}

.work {}

.workTitle {
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 10px 0px 40px;
    line-height: 1.1;
    color: #ccd6f6;
    font-size: clamp(26px, 5vw, 32px);
    white-space: nowrap;
}

.workTitle::before {
    position: relative;
    content: "1.";
    bottom: 0;
    font-weight: 400;
    font-size: clamp(16px, 3vw, 20px);
    color: #64ffda;
    text-align: center;
    font-family: 'SF Mono', monospace;
    line-height: 1.1;
}

.workTitle::after {
    content: "";
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: #ccd6f6;
}

